.Notes-List-Note {
  padding: 24px 12px 0 12px;
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}

.Notes-List-Note:hover {
  box-shadow: 0 2px 0 0 tomato;
  border-color: transparent;
  color: tomato;
}

.Notes-List-Note-Date {
  color: #a5a5a5;
  margin-left: 24px;
  font-size: .8em;
}
